<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.web.infrastructure.mapper.DouYinOrderLineMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.web.entity.DouYinOrderLine">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="douYinSubOrderId" column="dou_yin_sub_order_id" jdbcType="VARCHAR"/>
        <result property="lineState" column="line_state" jdbcType="INTEGER"/>
        <result property="itemNum" column="item_num" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="goodsModel" column="goods_model" jdbcType="VARCHAR"
                typeHandler="com.seeease.seeeaseframework.mybatis.type.JsonTypeHandler"/>
        <result property="stockSn" column="stock_sn" jdbcType="VARCHAR"/>
        <result property="orderAmount" column="order_amount" jdbcType="DECIMAL"/>
        <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
        <result property="authorId" column="author_id" jdbcType="BIGINT"/>
        <result property="roomId" column="room_id" jdbcType="BIGINT"/>
        <result property="videoId" column="video_id" jdbcType="VARCHAR"/>
        <result property="revision" column="revision" jdbcType="INTEGER"/>
        <result property="createdId" column="created_id" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="spotCheckCode" column="spot_check_code" jdbcType="VARCHAR"/>
        <result property="scAddress" column="sc_address" jdbcType="VARCHAR"/>
        <result property="scStreet" column="sc_street" jdbcType="VARCHAR"/>
        <result property="scDistrict" column="sc_district" jdbcType="VARCHAR"/>
        <result property="scProvince" column="sc_province" jdbcType="VARCHAR"/>
        <result property="scCity" column="sc_city" jdbcType="VARCHAR"/>
        <result property="scPhone" column="sc_phone" jdbcType="VARCHAR"/>
        <result property="scName" column="sc_name" jdbcType="VARCHAR"/>
        <result property="scId" column="sc_id" jdbcType="VARCHAR"/>
        <result property="modelCode" column="model_code" jdbcType="VARCHAR"/>
        <result property="scInfoId" column="sc_info_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,dou_yin_sub_order_id,
        line_state,item_num,product_id,
        product_name,goods_model,stock_sn,
        order_amount,pay_amount,author_id,
        room_id,video_id,revision,sc_info_id,
        created_id,created_by,created_time,
        updated_id,updated_by,updated_time,
        deleted,spot_check_code,sc_address,
        sc_street,sc_district,sc_province,
        sc_city,sc_phone,sc_name,model_code,
        sc_id
    </sql>
</mapper>
