<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.web.infrastructure.mapper.DouYinRefundCreatedMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.web.entity.DouYinRefundCreated">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="douYinShopId" column="dou_yin_shop_id" jdbcType="INTEGER"/>
        <result property="aftersaleId" column="aftersale_id" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="orderSubId" column="order_sub_id" jdbcType="VARCHAR"/>
        <result property="aftersaleStatus" column="aftersale_status" jdbcType="INTEGER"/>
        <result property="aftersaleType" column="aftersale_type" jdbcType="INTEGER"/>
        <result property="refundAmount" column="refund_amount" jdbcType="DECIMAL"/>
        <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="reasonCode" column="reason_code" jdbcType="INTEGER"/>
        <result property="revision" column="revision" jdbcType="INTEGER"/>
        <result property="createdId" column="created_id" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,dou_yin_shop_id,aftersale_id,
        order_id,order_sub_id,aftersale_status,
        aftersale_type,refund_amount,apply_time,reason_code,
        revision,created_id,created_by,modify_time,
        created_time,updated_id,updated_by,
        updated_time,deleted
    </sql>
</mapper>
