<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.web.infrastructure.mapper.DouyinPrintMappingMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.web.entity.DouyinPrintMapping">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="douYinShopId" column="dou_yin_shop_id" jdbcType="INTEGER"/>
        <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
        <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
        <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
        <result property="districtName" column="district_name" jdbcType="VARCHAR"/>
        <result property="streetName" column="street_name" jdbcType="VARCHAR"/>
        <result property="detailAddress" column="detail_address" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="templateUrl" column="template_url" jdbcType="VARCHAR"/>
        <result property="customTemplateUrl" column="custom_template_url" jdbcType="VARCHAR"/>
        <result property="revision" column="revision" jdbcType="INTEGER"/>
        <result property="createdId" column="created_id" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dou_yin_shop_id,shop_id,
        province_name,city_name,district_name,
        street_name,detail_address,name,
        mobile,template_url,custom_template_url,
        revision,created_id,created_by,
        created_time,updated_id,updated_by,
        updated_time,deleted
    </sql>
</mapper>
