<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.web.infrastructure.mapper.KuaishouShopMappingMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.web.entity.KuaishouShopMapping">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="kuaiShouShopId" column="kuai_shou_shop_id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
            <result property="orderOwner" column="order_owner" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="manualCreation" column="manual_creation" jdbcType="INTEGER"/>
            <result property="needDecrypt" column="need_decrypt" jdbcType="INTEGER"/>
            <result property="robot" column="robot" jdbcType="VARCHAR"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="createdId" column="created_id" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,kuai_shou_shop_id,shop_id,
        order_owner,author_id,manual_creation,
        need_decrypt,robot,revision,
        created_id,created_by,created_time,
        updated_id,updated_by,updated_time,
        deleted
    </sql>
</mapper>
