<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.web.infrastructure.mapper.KuaishouOrderRefundMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.web.entity.KuaishouOrderRefund">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="kuaiShouShopId" column="kuai_shou_shop_id" jdbcType="BIGINT"/>
            <result property="kuaiShouShopName" column="kuai_shou_shop_name" jdbcType="VARCHAR"/>
            <result property="refundOrderId" column="refund_order_id" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="orderSubId" column="order_sub_id" jdbcType="VARCHAR"/>
            <result property="returnSerialNo" column="return_serial_no" jdbcType="VARCHAR"/>
            <result property="refundStatus" column="refund_status" jdbcType="INTEGER"/>
            <result property="refundType" column="refund_type" jdbcType="INTEGER"/>
            <result property="refundAmount" column="refund_amount" jdbcType="DECIMAL"/>
            <result property="refundAgreedTime" column="refund_agreed_time" jdbcType="TIMESTAMP"/>
            <result property="reasonCode" column="reason_code" jdbcType="INTEGER"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="createdId" column="created_id" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,kuai_shou_shop_id,kuai_shou_shop_name,
        refund_order_id,order_id,order_sub_id,
        return_serial_no,refund_status,refund_type,
        refund_amount,refund_agreed_time,reason_code,
        revision,created_id,created_by,
        created_time,updated_id,updated_by,
        updated_time,deleted
    </sql>
</mapper>
