<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.web.infrastructure.mapper.OfficialWatchInfoMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.web.entity.OfficialWatchInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="brandName" column="brand_name" jdbcType="VARCHAR"/>
            <result property="seriesName" column="series_name" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="priceSource" column="price_source" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="pricePub" column="price_pub" jdbcType="DECIMAL"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brand_name,series_name,price_source,`source`,
        model,price_pub,image,
        create_time,update_time
    </sql>
</mapper>
