<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.serve.allocate.mapper.BillAllocateTaskMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.serve.allocate.entity.BillAllocateTask">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="allocateNo" column="allocate_no" jdbcType="VARCHAR"/>
            <result property="allocateId" column="allocate_id" jdbcType="INTEGER"/>
            <result property="taskState" column="task_state" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="stockId" column="stock_id" jdbcType="INTEGER"/>
            <result property="fromId" column="from_id" jdbcType="INTEGER"/>
            <result property="toId" column="to_id" jdbcType="INTEGER"/>
            <result property="fromStoreId" column="from_store_id" jdbcType="INTEGER"/>
            <result property="toStoreId" column="to_store_id" jdbcType="INTEGER"/>
            <result property="cancelReason" column="cancel_reason" jdbcType="VARCHAR"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="createdId" column="created_id" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,allocate_no,allocate_id,
        task_state,goods_id,stock_id,
        from_id,to_id,from_store_id,
        to_store_id,cancel_reason,revision,
        created_id,created_by,created_time,
        updated_id,updated_by,updated_time,
        deleted
    </sql>
</mapper>
