<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.serve.pricing.mapper.BillApplyPricingMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.serve.pricing.entity.BillApplyPricing">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="stockId" column="stock_id" jdbcType="BIGINT"/>
            <result property="applyStatus" column="apply_status" jdbcType="INTEGER"/>
            <result property="applyShopId" column="apply_shop_id" jdbcType="BIGINT"/>
            <result property="applyReason" column="apply_reason" jdbcType="VARCHAR"/>
            <result property="suggestedTocPrice" column="suggested_toc_price" jdbcType="DECIMAL"/>
            <result property="auditor" column="auditor" jdbcType="VARCHAR"/>
            <result property="approvedTime" column="approved_time" jdbcType="TIMESTAMP"/>
            <result property="approvedTocPrice" column="approved_toc_price" jdbcType="DECIMAL"/>
            <result property="approvedTagPrice" column="approved_tag_price" jdbcType="DECIMAL"/>
            <result property="rejectionReason" column="rejection_reason" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="createdId" column="created_id" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,serial_no,stock_id,
        apply_status,apply_shop_id,apply_reason,
        suggested_toc_price,auditor,approved_time,
        approved_toc_price,approved_tag_price,rejection_reason,
        remarks,revision,created_id,
        created_by,created_time,updated_id,
        updated_by,updated_time,deleted
    </sql>
</mapper>
