<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.serve.stocktaking.mapper.BillStocktakingLineMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.serve.stocktaking.entity.BillStocktakingLine">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="stocktakingId" column="stocktaking_id" jdbcType="INTEGER"/>
            <result property="stockId" column="stock_id" jdbcType="VARCHAR"/>
            <result property="wno" column="wno" jdbcType="INTEGER"/>
            <result property="stocktakingLineState" column="stocktaking_line_state" jdbcType="INTEGER"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="revision" column="revision" jdbcType="INTEGER"/>
            <result property="createdId" column="created_id" jdbcType="INTEGER"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedId" column="updated_id" jdbcType="INTEGER"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stocktaking_id,stock_id,
        wno,stocktaking_line_state,remarks,
        revision,created_id,created_by,
        created_time,updated_id,updated_by,
        updated_time,deleted
    </sql>
</mapper>
