<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeease.flywheel.serve.customer.mapper.CustomerContactsMapper">

    <resultMap id="BaseResultMap" type="com.seeease.flywheel.serve.customer.entity.CustomerContacts">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="cnmaeCcnamePhone" column="cnmae_ccname_phone" jdbcType="VARCHAR"/>
            <result property="areaIds" column="area_ids" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="prop" column="prop" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,open_id,
        address,name,phone,
        cnmae_ccname_phone,area_ids,deleted,
        prop
    </sql>
</mapper>
